<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-url="/files" href="#files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-url="/notes" href="#notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-url="/credentials" href="#credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="nav-files-tab"></div>
                    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="nav-notes-tab"></div>
                    <div class="tab-pane fade" id="credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">

                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script type="text/javascript">

            $('#nav-tab a').click(function (e) {
                e.preventDefault();

                var url = $(this).attr("data-url");
                var href = this.hash;
                var pane = $(this);

                console.log("URL: " + url);
                console.log("HREF: " + href);

                // ajax load from data-url
                $(href).load(url, function (result) {
                    pane.tab('show');
                });
            });

            // load first tab content
            $('#files').load($('.nav-link.active').attr("data-url"), function (result) {
            });

        </script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>
