<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" id="logout-btn" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <ul class="nav nav-tabs mt-5" id="myTabs">
                    <li class="nav-item"><a href="#files" data-url="/files" class="nav-link active">Files</a></li>
                    <li class="nav-item"><a href="#notes" data-url="/notes" class="nav-link" id="notes-link">Notes</a></li>
                    <li class="nav-item"><a href="#creds" data-url="/creds" class="nav-link" id="creds-link">Credentials</a></li>
                </ul>

                <div class="tab-content pt-3">
                    <div class="tab-pane active" id="files">Active panel</div>
                    <div class="tab-pane" id="notes"></div>
                    <div class="tab-pane" id="creds"></div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script type="text/javascript">

            $('#myTabs a').click(function (e) {
                e.preventDefault();

                var url = "/home" + $(this).attr("data-url");
                var href = this.hash;
                var pane = $(this);

                // ajax load from data-url
                $(href).load(url, function (result) {
                    pane.tab('show');
                });
            });

            // load first tab content
            $('#files').load("/home"+$('.nav-link.active').attr("data-url"), function (result) {
            });

        </script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(note) {
                $('#note-id').val(note && note.noteid ? note.noteid : null);
                $('#note-title').val(note && note.notetitle ? note.notetitle : '');
                $('#note-description').val(note && note.notedescription ? note.notedescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>
